/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root{
  --main-bg:white;
  --input:#47b2e4;
  --grey: #AEAEAE;
  --black: #232323;
  --white: #FBFBFB;
  --darkgrey: #363C49;
  --blue: #223792;
  --yellow: #FFD952;
  --button-icon-title: #4E8CFF;
  --button-blue: #3F609D;
  --foter-bg: #363C49;
  --page-info: #8CA5BA;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: var(--main-bg);
}

a {
  color: #000;
  text-decoration: none;
}

a.table-link {
  color: #000 !important;
  text-decoration: none;

}
.table-link:hover {
  color: #4E8CFF !important;
  text-decoration:underline;
  font-weight: 600;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

.pl-3 {
  padding-left: 30px !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.to::before {
  position: absolute;
  content: "~";
  width: 35px;
  padding-left: 9px;
  display: block;
  font-size: 14px;
  left: 49%;
  padding-top: 7px;

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  padding-bottom: 0;
  background-color: var(--white);
}

#header.header-scrolled, #header.header-inner-pages {
  background: var(--white);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 106px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 65px;
}

.img-fluid {
  height: 51px;
  margin: 5px auto;
  max-width: inherit;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  padding: 5px;
  background-color:var(--main-bg);
}

.navbar ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--darkgrey);
  white-space: nowrap;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: var(--blue) ;
}

.navbar li li a:hover {
  color: var(--blue) ;
  font-weight: 900;
}

.navbar .getstarted {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  /* transition: 0; */
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
#header .search {
  width: 40%;
}
#header .search .form-group {
  position: relative;
}
#header .search .has-icon .form-control {
  padding: 10px;
  padding-right: 2.375rem !important;
  padding-left: 10px !important;
  border-radius: 15px;
}
.has-icon .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3.375rem;
  height: 3.375rem;
  line-height: 3.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  font-size: 22px;
}
/* #header .search .has-icon .form-control-feedback {
  height: 2.375rem;
  line-height: 2.775rem;
  color: var(--black);
  font-size: 22px;
  right: 10px;
  position: absolute;
  float: right;
  bottom: 5px;
  top: 5%;
} */
.search .has-icon .form-control-feedback {
  height: 2.375rem;
  line-height: 2.775rem;
  color: var(--black);
  font-size: 22px;
  right: 0;
}
#header .logout .btn {
  border-radius: 15px;
  font-size: 11px;
  font-weight: 700;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid #ced4da;
}


@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .getstarted {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.hns-content {
margin-top: 140px !important;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cliens
--------------------------------------------------------------*/
.cliens {
  padding: 12px 0;
  text-align: center;
}

.cliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.content {
  padding-top: 40px;
}

.content .page-info {
  border-radius: 10px;
  background-color: var(--page-info);
  width: 100%;
  padding: 10px;
    padding-left: 10px;
  text-align: center;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  height: 220px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 60px;
  background-image: url("../../assets/img/icon-chemical.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #cce1fd !important;
}

.content .page a {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
}

.main-content ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 12px 0 12px 0;
  margin: 0;
  font-size: 14px;
}

.main-content ol li + li {
  padding-left: 10px;
}

.main-content ol li:first-child {
  display: inline-block;
  color: var(--blue);
  justify-content: flex-end;
  font-family: "bootstrap-icons";
}

.main-content ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--blue);
  content: "\F285";
  justify-content: flex-end;
  font-family: "bootstrap-icons";
  font-size: 12px;
}

.main-content h1 {
  font-size: 36px;
  font-weight: 700;
}

.main-content h3 {
  font-size: 20px;
  font-weight: 500;
}
.main-content .content-section {
  padding: 0px 0 20px 0;
  font-size: 14px;
}
.main-content .content-section h3.subheading::before {
  display: inline-block;
  color: var(--blue);
  content: "\F133";
  font-family: "bootstrap-icons";
  font-size: 16px;
  padding-right: 10px;
}

.main-content .content-section img {
  width: 100%;
  margin: 20px 0 20px 0;
}

/*--------------------------------------------------------------
# Table 
--------------------------------------------------------------*/
.search-table {
  border-radius: 10px;
border: 1px solid #E8EEF9;
background: linear-gradient(180deg, #FFF 0%, #FFF 100%);

/* Card-Shadow */
box-shadow: 4px 4px 12px 0px rgba(63, 96, 157, 0.10);
}

.tab .table-dark {
  --bs-table-bg: #0051AC;
  --bs-table-border-color: #fff;
}

.search{
  position: relative;
  max-width: 70%;
  margin: 0 auto;
    
  }

  .search .fa-search{
   position: absolute;
   /* top: 30%; */
   right: 16px;

  }
  input:focus, button:focus {
    border: 1px solid var(--input) !important;
    box-shadow: none !important;
  }
  .char-button .char-hangeul, .char-button .char-roman, .char-button .char-filter {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .char-hangeul li a {
    display: inline-flex;
    width: 36px;
    height: 36px;
    border-radius: 9px;
    border: 0.75px solid #E2E2E2;
    background: #FFF;
    text-align: center;
    font-size: 18px;
    margin: 3px;
    padding-left: 8px;
    padding-top: 3px;
    text-decoration: none;

  }
  .char-filter li a {
    display: inline-flex;
    width: 96px;
    height: 34px;
    border-radius: 9px;
    border: 0.75px solid #E2E2E2;
    background: #FFF;
    text-align: center;
    font-size: 14px;
    margin: 3px;
    /* padding-left: 0%; */
    /* padding-top: 3px; */
    text-decoration: none;
    line-height: 34px;
    justify-content: center;
  }
  .char-roman li a {
    display: inline-flex;
    width: 36px;
    height: 36px;
    border-radius: 9px;
    border: 0.75px solid #E2E2E2;
    background: #FFF;
    text-align: center;
    font-size: 18px;
    margin: 3px;
    text-decoration: none;
    justify-content: center;
    align-items: center;

  }
  .char-hangeul li a:hover, .char-roman li a:hover {
    background: #4E8CFF;
    color: var(--main-bg);
  }

/*--------------------------------------------------------------
# Table 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.form-register form .email::after {
  display: block;
  position: relative;
  content: '@';
  font-size: 16px;
  right: 20px;
  top: -50%;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Page Image
--------------------------------------------------------------*/
.page-image {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 165px;
  margin-top: 145px;
  height: 165px;
  background:var(--main-bg);
  background-image: url("../../assets/img/img_hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 992px) {
  .page-image {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

/*--------------------------------------------------------------
# Announce Menu
--------------------------------------------------------------*/
.announce {
  position: fixed;
  right: 3rem;
  top: 20rem;
  width: 100px !important;
  display: flex;
}
.announce ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.announce-button {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 3px;
  text-align: center;
  border-radius: 10px;
}
.announce-button img {
  display: block;
  width: 27px;
  height: auto;
  position: relative;
  top: 25%;
}
.announce-button em {
  display: block;
  font-style: normal;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-weight: bold;
  color: white;
}
.announce-button a {
  display: block;
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------
# Announce Menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: var(--foter-bg);
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .info {
  float: left;
}

#footer .info .address {
  display: inline-block;
  position: relative;
  top: 8px;
}

#footer .info .address i {
  font-size: 16px;
  display: inline-block;
  width: 20px;
}

#footer .info img {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 30px;
}

#footer .credits {
  float: right;
  padding-left: .5rem;
  font-size: 13px;
  text-align: right;
}

#footer .credits a {
  transition: 0.3s;
}

#footer .credits .site-link {
  display: inline-block;
}

#footer .credits .copyright {
  display: block;
  text-align: right;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

/*--------------------------------------------------------------
# Nav Revision
--------------------------------------------------------------*/
.navbar ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.navbar li {
  position: relative;
  min-width: 200px;
}

.navbar .dropdown ul {
  display: flex;
  position: fixed;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 15% 10px 30%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  border-bottom: 1px solid rgba(127, 137, 161, 0.15);
  transition: 0.2s;
  border-radius: 0;
  width: 100vmax;
  left: 0;
  min-height: 90px;
  top: 148px !important;
  flex-basis: 200px;
  justify-content: left;
  box-shadow: 0px 10px 10px rgba(127, 137, 161, 0.15);
  flex-wrap: wrap;
}

.navbar .dropdown ul::after {
  content: ' ';
  display: block;
  background-image: url(../../assets/img/hns-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 50px;
  filter: opacity(20%);
  position: absolute;
  right: 11%;
  bottom: 10px;
}
.navbar .dropdown:hover > ul {
  top: 120%;
}
.navbar .dropdown ul li {
  flex-basis: calc(100%/4);
}
.navbar .dropdown ul a {
  font-size: 1rem;
  font-weight: 700;
  justify-content: left;
  padding: 5px 10px;
}
.nav-title {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 29%;
  background: var(--blue);
  height: 101%;
  padding: 25px;
    padding-left: 25px;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--white);
}

.navbar ul .dropdown > a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  left: 0;
  width: 100%;
  border-top: 3px solid var(--button-icon-title);
  transform: scaleX(0);
  transition: all 0.2s;
}
.navbar ul li:hover > a::after {
  transform: scaleX(1);
}


/*--------------------------------------------------------------
# Nav Revision
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.tab-list {
  border: 1px solid #F4F6F8;
  border-left: 0;
  border-right: 0;
  border-top: 2px solid var(--blue);
}
.tab-list th {
  padding: 20px;
}
.tab-list th, .tab-list td {
  border: 1px solid #F4F6F8;
  vertical-align: middle;
}
.tab-list th:first-child, .tab-list td:first-child {
  border-left: 0;
}
.tab-list th:last-child, .tab-list td:last-child {
  border-right: 0;
}
.tab-list tbody tr:hover td, .tab-list tbody tr:hover th {
  background-color: #F8FBFF;
}
.tab-h .table-active {
  background-color: #F8FBFF;
}
/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Side Nav
--------------------------------------------------------------*/
.sidebar ul {
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #CFD8DC;
  background: #F8FBFF;
  border-left: 1px solid #CFD8DC;
  border-right: 1px solid #CFD8DC;
  /* border-top: 1px solid #CFD8DC; */
  transition: ease 0.3s;
}

.sidebar ul li:hover {
  background: #DAE9FB;
  transition: all 0.5s;
}
.sidebar ul li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sidebar ul li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sidebar ul li.active {
  background: #4E8CFF;
  border: 0;
}
.sidebar ul li.active a {
  color: var(--main-bg);
}
.sidebar ul li:not(.active) {
  border-top: 1px solid #CFD8DC;
  border-bottom: 0;
}
.sidebar ul li:last-child:not(.active) {
  border-bottom: 1px solid #CFD8DC;
}
.sidebar ul li a {
  color: var(--black);
  height: 100%;
  width: 100%;
  display: block;
  padding: 20px;
  transition: all 0.5s;
}
/*--------------------------------------------------------------
# Side Nav
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# icon inside table
--------------------------------------------------------------*/
.icon-inside-table {
  font-size: 20px;
  position: relative;
  top: 3px;
}

.icon-inside-table.box {
  font-size: 20px;
  position: relative;
  top: 3px;
  border: 1px solid #E3E5E7;
  color: #0051AC;
}
/*--------------------------------------------------------------
# icon inside table end
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# font weight table
--------------------------------------------------------------*/
.table-content-weigh-font td {
  font-weight: 400;
}
.table-content-weigh-font th {
  font-weight: 400;
}

/* overide accordion bg color pills */
.bg-accordion-overide {
  background-color: #cfe2ff ;
  border-bottom: 1px solid #a0c6fa;
}

/* mobile fix */

@media (max-width: 768px) {
  #header .logo img {
    max-height: 24px;
  }
  #hero {
    top: 105px;
  }
  .search .has-icon .form-control {
    padding: 3px;
      padding-right: 3px;
      padding-left: 3px;
    padding-right: 2.375rem !important;
    padding-left: 8px !important;
    border-radius: 15px;
  }
  .search .has-icon .form-control-feedback {
    height: 2rem;
    line-height: 2rem;
    color: var(--black);
    font-size: 15px;
    right: 0;
  }
  .main .main-info ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main .main-info li {
    flex-basis: 48%;
  }
  #footer .credits .site-link {
    margin-top: 20px;
  }
  #footer .credits .copyright {
    text-align: center;
  }
  #footer .info img {
    margin-right: 0;
  }
  #footer .info {
    float: inherit;
    text-align: center;
  }
  .navbar ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    width: 90%;
  }
  .navbar li {
    position: relative;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
    width: 90%;
  }
  .nav-title {
    display: none;
    visibility: hidden;
  }
  /**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--button-blue);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .getstarted {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
}

/* additional */

.social_icon {
  list-style: none;
}

.social_icon li {
  flex: 0;
  margin: 2px;
}